@charset "UTF-8";

* {
   margin: 0px; padding: 0px;
}

body {
   background-color: #000;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
}


main {
   width: 100%;
   height: 60vh;
   background-color: #000;
   overflow: hidden;
   position: relative;
   opacity: 0;
   transition: .3s;
}

main.on {
   opacity: 1;
}

main img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: .3s;
}

p {
   width: 100%;
   height: 100vh;
   font: bold 10vw/1 'orbitron';
   letter-spacing: 2px;
   color: #fff;
   position: absolute;
   top: 0; 
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}

aside {
   width: 100%;
   height: 100vh;
   position: fixed;
   background-color: #111;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   color: #fff;
   transition: opacity 2.5s;
}

aside.off {
   opacity: 0;;
}